.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    z-index: 0;
  }
  
  #landing-img{
    width: 100vw;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
  }
  .landing-text{
    z-index: 1;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    top: 5vh;
    left: 7vw;
  }

  h2{
    font-size: 4rem;
    font-weight: bold;
  }
  
  h1 {
    margin-top: -5vh;
    font-size: 5rem;
    font-weight: bold;
    background:linear-gradient(45deg, rgb(117, 105, 92) 0%, rgb(174, 162, 152) 100%); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p{
    font-size: 1.25rem;
  }
  
  .landing-buttons{
    position: fixed;
    z-index: 1;
    top: 5px;
    right: 50px;
  }
  
  .landing-button {
    margin: 1.5rem 1.5rem;
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    background-color: rgba(37, 37, 37, 1);
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .landing-button:hover {
    background-color: rgb(148,146,139);
  }