.user-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.user-header {
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.logout-button {
  margin-right: 3rem;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #252524;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  color: #75695c;
}

.user-profile-container {
  width: 80vw;
  max-height: 80vh;
  margin: 10vw auto;
  display: flex;
  flex-direction: row;
  gap: 3vw;
  /* background-color: rgb(255, 255, 255); */
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 5vh 2vw 0;
  align-items: center;
  height: 70vh;
  background-color: #ccc3bb;
}

.profile-pic {
  width: 10vw;
  padding: 0 0;
}

.profile-content {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vh;
}

.profile-content h2 {
  font-size: 3rem;
}

.profile-content p {
  font-size: large;
  /* margin: 0; */
}

.create-post {
  margin-top: 5rem;
  background-color: #252524;
  color: #ffffff;
  padding: 1rem;
}
.create-post:hover {
  background-color: #aea298;
}

/* Styles for the user posts */
.user-post-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f4f4f4;
}

.user-post-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-post-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.user-post-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-post-details p {
  margin: 0.2rem 0;
  color: #333;
  font-size: 0.9rem;
}

.user-post-details p:first-child {
  font-weight: bold;
  color: #000;
}
